.range-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    margin: 0;
}
.range-red{
    display: flex;
    justify-content: center;
    align-items: center;
}
.range-red img{
    width: 40px;
    height: 40px;
 
}
.text-gradient-container{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.range-text{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.range-text p{
    font-size: 16px;
    color: #BBC3FF;
}
.range-text span{
    font-size: 10px;
    color: #BBC3FF;
    padding-bottom:2px;
}
.range-line{
    position: relative;
}
.range-line::before{
    content: "";
    position: absolute;
    bottom: 0; 
    left: 10%;
    width: 80%;
    border-bottom: 1px solid #bbc3ff9d;

}
