.footer-container{
    background-color: #CFC9FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 716px;
    height: 44px;
    position: fixed;
    bottom:36px;
    left:602px;

}
.footer-container P{
    font-size: 12px;
    color:#070046;
}
.footer-container h5{
    font-size: 16px;
    color:#0055FF;
}