.rightbox-container{
    height: 1020px;
    width: 471px;
    background-color: #080050da;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightbox-items-wrapper{
    margin: 0 12px;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px;
    gap:5px;
}
.grid-right{
    width: 100%; 
    height: 49px; 
    border: 0px solid #000;
    overflow: hidden;
    white-space: nowrap;
}
.grid-right .Iconed {
    position: relative;
  }
.title-right{
    margin: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: #BBC3FF;
    border-bottom: 1px solid #bbc3ff70;
}
.Right-skills-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbc3ff70;

}
.square-plus{
    padding: 16px;
}
.range-lower-items{
    display: grid;
    grid-template-columns: 471px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap:6px;
    padding-bottom: 6px;
}